root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8

[*.cs]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

[*.{csproj,props,targets}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2

[*.xaml]
indent_style = space
indent_size = 4
